<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article_title, :value => t("article_title") %><br>
    <%= f.text_field :article_title %>
  </div>
  <div class="field">
    <%= f.label :article_type, :value => t("article_type") %><br>
    <%=select_tag :article_type, options_for_select(@article_type, @article_type_revert[@article.article_type])%>
  </div>
  <div class="field">
    <%= f.label :article_content %><br>
    <%= f.text_area :article_content %>
  </div>
  
  <div class="actions">
    <%= f.submit :value=>t("add_article") %>
  </div>
<% end %>
