<style type="text/css">
  .simditor-body{
    min-height: 400px;
  }
</style>
<div class="container" style="margin-top:10px;">
  <div style="float:right ">
    |<%= link_to t('return_article_list'), articles_path, :style=> "text-decoration:none;color: #3D7878;" %>
    |<span onclick="give_up_modify(this)" style="cursor:pointer;color: #3D7878;"><%= t('give_up_modify')%></span>
  </div>
  <%= render 'form' %>
</div>
<script type="text/javascript">
	function give_up_modify(obj)
	{
    $.confirm({
    	theme: 'supervan',
    	keyboardEnabled: true,
	    title: '<%= t("dialog_tip")%>',
	    content: '<%= t("wheather_give_up")%>',
	    confirmButton: '<%= t("confirm_button")%>',
      cancelButton: '<%= t("cancel_button")%>',
      confirmButtonClass: 'btn-info',
      cancelButtonClass: 'btn-danger',
	    confirm: function(){
	    	  location.href = "/articles/<%= @article.id%>";
	    },
	    cancel: function(){
	    }
    });
	}
</script>
