<div class="container">
	<div class="row">
	  <div class="col-xs-8 " >
	    <%= image_tag("home_page/1.png")%>
	    <span ><%= t("motto_words")%> </span>
	    <br>
	    <br>
		  <form class="bs-example bs-example-form" role="form">
		    <div class="row">
		    	<div class="col-lg-9">
		        <div class="input-group">
		        	<input type="text" class="form-control" placeholder=<%=t("search_tip")%> />
		        	<span class="input-group-btn">
		        		<button class="btn btn-default" type="button">Go!</button>
		        	</span>
		        </div>
		    	</div>
		    </div>
		  </form>
		  <div style="padding-top:30px">

	      <div class="tabbable"> <!-- Only required for left/right tabs -->
	        <ul class="nav nav-tabs">
	          <li class="active"><a href="#tab1" data-toggle="tab"><%=t("all_articles")%></a></li>
	          <li><a href="#tab2" data-toggle="tab"><%= t("hot_blogs")%></a></li>
	          <li><a href="#tab3" data-toggle="tab"><%= t("new_articles")%></a></li>
	        </ul>
	        <div class="tab-content">
	          <div class="tab-pane active" id="tab1">
	            <!--文章列表begin-->
	            <div class="article_title" >
	              <a href="#">从一个菜鸟到大牛的修炼之道</a>
	            </div>
	            <div style="margin:10px 0 0 0;">
	              <span class="sub_title" style="margin:0px">2015-10-12</span>
	              <span class="sub_title">关元超</span>
	              <span class="sub_title">生活</span>
	            </div>
	            <hr/>
	            <!--文章列表end-->
	          </div>
	          <div class="tab-pane" id="tab2">
	            <p>Howdy, I'm in Section 2.</p>
	          </div>
	          <div class="tab-pane" id="tab3">
	            <p>Howdy, I'm in Section 3.</p>
	          </div>
	        </div>
	      </div>
		  </div>
	  </div>

	  <div class="col-xs-4">
	  	<%= image_tag("home_page/example.jpg", :class => "img-circle", :width => "100", :height => "100")%>
	  	<div style="padding-top:15px">
	  	|<span class="person-lev-fan-focus">
	  	  <%= t("focus_tag")%>
	  	  <a href="#">1</a>
	  	</span>|
	  	<span class="person-lev-fan-focus">
	  	  <%= t("level_tag")%>
	  	  <a href="#">12</a>
	  	</span>|
	  	<span class="person-lev-fan-focus">
	  	  <%= t("fans_tag")%>
	  	  <a href="#">25</a>
	  	</span>
	  	</div>
	  </div>
	</div>
</div>


