<!DOCTYPE html>
<html>
<head>
  <title>PhoebeBlog</title>
  <%= stylesheet_link_tag 'application', media: "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
	  <p	class="notice"><%=	notice	%></p>
	  <p	class="alert"><%=	alert	%></p>
<div class="navbar navbar-default navbar-fixed-top">
 <div class="container">
 <div class="navbar-header">
   <%= link_to "Blog", root_path, class: "navbar-brand" %>
 </div>
 <div class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-left">
    <li class="active"><a href="#">首页</a></li>
    <li><a href="#">相册</a></li>
    <li><a href="#">文章</a></li>
    <li><a href="#">状态</a></li>
    <li><a href="#">个人信息</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><%= link_to current_user.name %></li>
      <li><%= link_to "退出", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "登录", new_user_session_path %></li>
      <li><%= link_to "注册", new_user_registration_path %></li>
    <% end %>
  </ul>
 </div>
 </div>
</div>

  <div class="container">
	  <%= yield %>
	</div>

	</body>
</html>
