<!DOCTYPE html>
<html>
<head>
  <title>Wanwan</title>
  <%= stylesheet_link_tag 'application', media: "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
	  
<div class="navbar navbar-default navbar-fixed-top">
 <div class="container">
   <div class="navbar-header">
     <%= link_to "Wanwan", root_path, class: "navbar-brand" %>
   </div>
   <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "首页", root_path %></li>
      <li><a href="#">相册</a></li>
      <li><%=link_to "文章", articles_path%></li>
      <li><a href="#">状态</a></li>
      <li><a href="#">个人信息</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, edit_user_registration_path %></li>
        <li><%= link_to t("exit_tag"), destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t("log_in_tag"), new_user_session_path %></li>
        <li><%= link_to t("register_tag"), new_user_registration_path %></li>
      <% end %>
    </ul>
   </div>
 </div>
</div>

<% if notice.to_s != "" %>
<div class="alert alert-info alert-dismissable" style="margin-top:45px;">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    &times;
  </button>
  <%= notice  %>
</div>
<% end %>
<% if alert.to_s != ""%>
<div class="alert alert-warning alert-dismissable" style="margin-top:45px;">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    &times;
  </button>
  <%= alert %>
</div>
<% end %>

  <div class="container" style="margin-top:55px;">
	  <%= yield %>
	</div>

	</body>
</html>
